<p>
	<strong>Autor:</strong>
	<%= comment.commenter %>
</p>
	<strong>Comment:</strong>
	<%=comment.body %>
</p>
<p>
	<%= link_to 'Destruir comentario', [comment.post, comment], method: :delete, data: {confirm: 'Seguro?'} %>
</p>