<div>
	<% @posts.each do |post| %>
		<h1><%= link_to post.title, post_path(post) %> <small><%= l post.created_at, :format => :short %></small></h1>
		<div class="well well-lg">
			<%= post.text %>
		</div>	
	<% end %>

</div>
<div>
	<br><br>
	<p>
	<span class="label label-warning"><%= link_to "Editar Posts", controller: "posts" , :class=>'color: white' %></span>
	</p>
</div>

